# Ignore Mac system files
.DS_store
# Ignore root files
*.root
# Ignore all .pcm and .o files
*.png
*.pdf
*.pyc
*.o
*.so
*.out
*.pcm
*__pycache__/
*.pytest_cache
# Ignore IDE specific files
.vscode/
*.sw*
.nfs*
.idea/
18/*.root
boktanstack/
processed/
12Oct_stack_dev/
8Nov/
plot_ratio_150.0/
*.root

